[submodule "typescript/dev"]
	path = typescript/dev
	url = https://github.com/Microsoft/TypeScript.git

[submodule "typescript/3.6"]
	path = typescript/3.6
	url = https://github.com/Microsoft/TypeScript.git
